@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.8/css/line.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Manrope', sans-serif;
}

.main{
    background-image: url('./assets/bg.jpeg');
    background-size: cover;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter:blur(20px)
}